#tudo {
    background: url(bg2.jpeg) no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

#bgBlack {
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 500px) {
  #tudo 
  {
      background-image: url(bg2short.png);
  }
}



